*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Comic sans MS';
}
h1{
    width: min(40vh, 60%);
    font-size: min(4vh, 6vw);
    margin-top: 2vh;
    text-align: center;
    border-radius: 1vh;
    background-color: white;
}

#container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(aqua, blue);
}
#mazeCanvas{
    margin: 2vh;
    width: min(80vh, 90%);
}
/*#seabed{
    background-image: none;
}*/