*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Comic sans MS';
}
h1{
    width: min(40vh, 60%);
    font-size: min(4vh, 6vw);
    margin-top: 1vh;
    text-align: center;
    border-radius: 1vh;
    background-color: white;
}

.centred{
    display: flex;
    justify-content: center;
}

#container{
    background-image: linear-gradient(aqua, blue);
}
#mazeCanvas{
    margin: 1vh;
    width: min(80vh, 90%);
    background-color: rgba(255, 255, 255, 0.2);
}
#surface{
    height: 20px;
    background-color: aqua;
    background-image: url("../images/waves.png");
    background-repeat: repeat-x;
}
#seabed{
    height: 22px;
    background-color: blue;
    background-image: url("../images/seabed.png");
    background-repeat: repeat-x;
}